.background{
    background-color:#80D1E8;
  }
  #login{
    text-align: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #img{
      padding-left: 40px;
      text-align: center;
  }
  #title{
      text-align: center;
  }
  #homelog{
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }